# =============================================================================
# target/ch592/openocd.cfg
# OpenOCD configuration for WeAct Studio CH592F (RISC-V QingKe V4C) via WCH-LinkE
# =============================================================================

adapter driver wlink
transport select sdi
wlink_speed 8000

# Target specific configuration (automatic Flash size detection)
set _CHIPNAME wch_riscv
jtag newtap $_CHIPNAME cpu -irlen 5 -expected-id 0x00000001
set _TARGETNAME $_CHIPNAME.cpu
target create $_TARGETNAME riscv -chain-position $_TARGETNAME

# Address of RTT control block will be scanned dynamically by llvm-nm
